# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
# NOTE: some ecosystems are set to 0, when we do our own dependencies upgrades. These configurations are just to make
#   GitHub aware of the relevant ecosystems.

version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: tuesday
      time: "08:00"
      timezone: Europe/Berlin
    allow:
      - dependency-type: production
    ignore:
      # node-fetch v3 is ESM-only, which we don't support
      # https://github.com/node-fetch/node-fetch#commonjs
      - dependency-name: node-fetch
        versions: ["3.x"]
    groups:
      all-npm-dependencies:
        patterns:
          - "*"

  - package-ecosystem: bundler
    directory: /docs
    schedule:
      interval: weekly
      day: tuesday
      time: "08:00"
      timezone: Europe/Berlin

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: tuesday
      time: "08:00"
      timezone: Europe/Berlin
    groups:
      all-action-dependencies:
        patterns:
          - "*"
