[
    {
        "$nockRef": "cf-apps-list",
        "count": 1,
        "repetition": 1
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 1,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes?page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes?page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "f5ada1de-ed46-4ca6-9a1f-55a2b9375c52",
                    "created_at": "2026-06-23T01:04:27Z",
                    "updated_at": "2026-06-25T20:14:01Z",
                    "version": "576bfa02-91b1-4b7b-bd97-6daf76cf9e9e",
                    "type": "web",
                    "command": "[PRIVATE DATA HIDDEN IN LISTS]",
                    "user": "vcap",
                    "instances": 1,
                    "memory_in_mb": 2048,
                    "disk_in_mb": 2048,
                    "log_rate_limit_in_bytes_per_second": -1,
                    "health_check": {
                        "type": "http",
                        "data": {
                            "timeout": 180,
                            "invocation_timeout": 180,
                            "interval": null,
                            "endpoint": "/cfhealth"
                        }
                    },
                    "readiness_health_check": {
                        "type": "process",
                        "data": {
                            "invocation_timeout": null,
                            "interval": null
                        }
                    },
                    "relationships": {
                        "app": {
                            "data": {
                                "guid": "5cccc504-4911-43ef-a531-31cbf2b89939"
                            }
                        },
                        "revision": {
                            "data": {
                                "guid": "b72947d3-9cb0-4f28-b666-801ab2231edd"
                            }
                        }
                    },
                    "metadata": {
                        "labels": {},
                        "annotations": {}
                    },
                    "links": {
                        "self": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/f5ada1de-ed46-4ca6-9a1f-55a2b9375c52"
                        },
                        "scale": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/f5ada1de-ed46-4ca6-9a1f-55a2b9375c52/actions/scale",
                            "method": "POST"
                        },
                        "app": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939"
                        },
                        "space": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/spaces/0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                        },
                        "stats": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/f5ada1de-ed46-4ca6-9a1f-55a2b9375c52/stats"
                        },
                        "process_instances": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/f5ada1de-ed46-4ca6-9a1f-55a2b9375c52/process_instances"
                        }
                    }
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "c64cb89d-13f7-477e-5cd3-719ec7610235::2acbb18b-fb80-45f0-9018-92a6faa36cf7"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 2,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "0ff95de3-7e9b-45e4-9d11-f881f577e4a1",
                    "created_at": "2021-02-08T11:09:24Z",
                    "updated_at": "2021-02-08T11:09:24Z",
                    "protocol": "http",
                    "host": "skyfin-dev-afc-mtx",
                    "path": "",
                    "port": null,
                    "url": "skyfin-dev-afc-mtx.cfapps.sap.hana.ondemand.com",
                    "destinations": [
                        {
                            "guid": "0b5ddbc7-5c48-427f-936b-0ae02ae8e78f",
                            "app": {
                                "guid": "5cccc504-4911-43ef-a531-31cbf2b89939",
                                "process": {
                                    "type": "web"
                                }
                            },
                            "weight": null,
                            "port": 8080,
                            "protocol": "http1",
                            "created_at": "2021-02-08T11:09:25Z",
                            "updated_at": "2021-02-08T11:09:25Z"
                        }
                    ],
                    "metadata": {
                        "labels": {},
                        "annotations": {}
                    },
                    "relationships": {
                        "space": {
                            "data": {
                                "guid": "0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                            }
                        },
                        "domain": {
                            "data": {
                                "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064"
                            }
                        }
                    },
                    "links": {
                        "self": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/routes/0ff95de3-7e9b-45e4-9d11-f881f577e4a1"
                        },
                        "space": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/spaces/0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                        },
                        "destinations": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/routes/0ff95de3-7e9b-45e4-9d11-f881f577e4a1/destinations"
                        },
                        "domain": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/domains/9aa474f9-3f82-4967-a2e1-dfe0cd155064"
                        }
                    },
                    "options": {}
                },
                {
                    "guid": "79575c2d-7db9-44de-8291-5f251debcddf",
                    "created_at": "2025-09-30T19:49:41Z",
                    "updated_at": "2025-09-30T19:49:41Z",
                    "protocol": "http",
                    "host": "skyfin-dev-afc-mtx",
                    "path": "",
                    "port": null,
                    "url": "skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com",
                    "destinations": [
  [...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 18,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "15581625-8c82-4976-a6cf-e4b4a9d4b650",
                    "created_at": "2026-06-25T20:03:10Z",
                    "updated_at": "2026-06-25T20:03:10Z",
                    "name": null,
                    "type": "app",
                    "last_operation": {
                        "state": "succeeded",
                        "description": null,
                        "type": "create",
                        "updated_at": "2026-06-25T20:03:10Z",
                        "created_at": "2026-06-25T20:03:10Z"
                    },
                    "metadata": {
                        "labels": {},
                        "annotations": {}
                    },
                    "relationships": {
                        "service_instance": {
                            "data": {
                                "guid": "9c12b0fb-ab43-46fc-94e4-82eab5e541ce"
                            }
                        },
                        "app": {
                            "data": {
                                "guid": "5cccc504-4911-43ef-a531-31cbf2b89939"
                            }
                        }
                    },
                    "links": {
                        "self": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings/15581625-8c82-4976-a6cf-e4b4a9d4b650"
                        },
                        "details": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings/15581625-8c82-4976-a6cf-e4b4a9d4b650/details"
                        },
                        "service_instance": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/service_instances/9c12b0fb-ab43-46fc-94e4-82eab5e541ce"
                        },
                        "app": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/app[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/15581625-8c82-4976-a6cf-e4b4a9d4b650/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {},
            "syslog_drain_url": "https://cf-credentials-syslog_drain_url-username:cf-credentials-syslog_drain_url-password@ingest-sf-068034bc-13cf-4be3-9589-3a751c760bea.cls-01.cloud.logs.services.sap.hana.ondemand.com/cfsyslog"
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464562",
            "x-vcap-request-id",
            "84aeba81-7ade-441b-5259-36795fe249b3::722c0973-5146-4497-9d25-3d45a1dbd206"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/22ed2277-c742-450d-bc18-9b0ca7bf30e1/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://theming-runtime.cfapps.sap.hana.ondemand.com/",
                "endpoints": {
                    "runtime": "https://theming-runtime.cfapps.sap.hana.ondemand.com",
                    "repository": "https://theming-repository.cfapps.sap.hana.ondemand.com"
                },
                "sap.cloud.service": "com.sap.ui.theming",
                "saasregistryappname": "theming",
                "html5-apps-repo": {
                    "app_host_id": "251a90ce-8798-4191-9828-4d4ac97e4ea9"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "xsappname": "e6168484-4a7c-480b-b418-fefcf45afba8!b5874|sap-theming!b2675",
                    "clientsecret": "cf-credentials-credentials-uaa-clientsecret",
                    "serviceInstanceId": "e6168484-4a7c-480b-b418-fefcf45afba8",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "f4d33abf-5388-4fb3-7848-44ff8f36d83d::543765a7-420b-4933-b113-2c65246174a0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/40175c33-72aa-43b1-bce9-157abe76fb2e/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "LPSCallbackDependencyName": "businesslogging-sb-prod",
                "configUrl": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/",
                "configurationPath": "buslogs/configs",
                "content_endpoint": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/content",
                "endpoints": {
                    "configservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs",
                    "readservice": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                    "readservicev4": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                    "textresourceservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs/textresource",
                    "writeservice": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/buslogs/log"
                },
                "host": "cf-credentials-credentials-host",
                "readLogPath": "/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                "readLogPathv4": "/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                "readUrl": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/",
                "saasregistryappname": "businesslogging-sb-prod",
                "saasregistryenabled": true,
                "sap.cloud.service": "com.sap.bs.businesslogging",
                "vendor": "SAP",
                "writeLogPath": "buslogs/log",
                "writeUrl": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/",
                "html5-apps-repo": {
                    "app_host_id": "99fe3965-708a-43bf-9fdf-33206e55010c"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname": "afc-dev!b5874|businesslogging-sb-prod!b3598",
                    "certificate": "cf-credentials-credentials-uaa-certificate",
                    "serviceInstanceId": "3c6e7048-f419-45ab-861b-1d500ed9a872",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "certificate-pinning": true,
                    "key": "cf-credentials-credentials-uaa-key"
                },
                "instanceId": "3c6e7048-f419-45ab-861b-1d500ed9a872"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "ae371a62-f2f2-463f-5203-7cf0f3204ace::cbe5b4c6-64c9-43d3-80c5-42142569d7b6"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/53280cf6-e63f-4e92-942f-bc60d247b3db/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://html5-apps-repo-rt.cfapps.sap.hana.ondemand.com/",
                "bindable": true,
                "metadata": {
                    "supportsInstanceSharing": true
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname": "4457fe63-ba67-42be-80c6-ce1606[...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/a2bd5f9f-6cf6-4564-8111-213e6978b153/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "subscription_manager_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "credential-type": "binding-secret",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "afc-dev-sms-clone!b5874|lps-registry-broker!b13",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "serviceInstanceId": "bc61bfb2-0ac6-4002-90c3-74f17dcab64e",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "ias_service_instance_id": "f999651e-8c35-467b-822e-518554570a04",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "callback_certificate_subject": "{\"CN\":\"Subscription Manager\",\"L\":\"Subscription Manager\",\"OU\": [\"sap-provisioning\",\"Canary\",\"SAP Cloud Platform Clients\"],\"O\":\"SAP SE\",\"C\":\"DE\"}",
                "app_name": "afc-dev-sms",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "callback_certificate_subject_rfc_2253": "CN=Subscription Manager,L=Subscription Manager,OU=sap-provisioning,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "callback_certificate_issuer": "{\"C\":\"DE\",\"L\":\"*\",\"O\":\"SAP SE\",\"OU\":\"SAP Cloud Platform Clients\",\"CN\":\"SAP Cloud Platform Client CA\"}",
                "app_urls": "{\"subscriptionCallbacks\":{\"url\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/sms-provisioning/tenant/{app_tid}\",\"async\":{\"updateDependenciesEnable\":false,\"updateSubscriptionParametersEnable\":false,\"subscribeEnable\":true,\"unSubscribeEnable\":true,\"timeoutInMillis\":600000}},\"omitSubscriptionCallbacks\":null,\"dependenciesCallbacks\":{\"url\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/sms-provisioning/dependencies/{app_tid}\"},\"subscriptionParamsCallbacks\":{\"url\":\"\"},\"subscriptionFailureCallbacks\":null}"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "7a9da13e-e1e7-4e1c-4bfc-d8461139328a::e1ce46de-37e6-4efd-a0de-75c75711db3e"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/94c0e4c3-b2f3-407b-868e-5fb7f81a3604/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "sap.cloud.service": "com.sap.ui.flex.cf.keyuser",
                "sap.cloud.service.alias": "flexkeyuser",
                "endpoints": {
                    "keyuser": "cf-credentials-credentials-endpoints-keyuser"
                },
                "saasregistryenabled": true,
                "grant_type": "user_token",
                "url": "https://ui5-flexibility-keyuser.cfapps.sap.hana.ondemand.com/",
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509ena[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/9ba13b9e-fdb4-49e9-a5b5-064b21193319/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "credential-type": "binding-secret",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "afc-dev",
                "appName": "afc-dev",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "tenant_onboarding_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "saas_registry_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "appUrls": "{\"getDependencies\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/saas-provisioning/dependencies\",\"onSubscription\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/saas-provisioning/tenant/{tenantId}\",\"getSubscriptionParameters\":\"\",\"onSubscriptionFailure\":null,\"onSubscriptionAsync\":true,\"onUnSubscriptionAsync\":true,\"onUpdateSubscriptionParametersAsync\":false,\"callbackTimeoutMillis\":900000,\"runGetDependenciesOnAsyncCallback\":false,\"onUpdateDependenciesAsync\":false}",
                "serviceInstanceId": "8452bcb5-45fc-4740-a770-e49580b331f9",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "99534b5b-1df9-44d8-5789-d2a70866e57f::8d9cc579-a82a-44ff-834f-eed9005dc087"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e31953af-1d9f-4d1b-8e60-c6381e24ca95/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "token_service_domain": "cf-credentials-credentials-token_service_domain",
                "credential-type": "binding-secret",
                "token_service_url": "cf-credentials-credentials-token_service_url",
                "xsappname": "clone43c89feaa7e14781a446eca57e3748b5!b5874|connectivity!b137",
                "onpremise_proxy_ldap_port": "20001",
                "onpremise_socks5_proxy_port": "20004",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "onpremise_proxy_http_port": "20003",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "onpremise_proxy_host": "connectivityproxy.internal.cf.sap.hana.ondemand.com",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "onpremise_proxy_port": "20003",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "onpremise_proxy_rfc_port": "20001",
                "region_configuration_id": "cf-eu10-canary"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "93ea6df9-b4c5-4e31-6c8c-bf9f45132ebe::9bc2c29a-b897-4c76-82fa-af2ddd3c62b4"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/fa40a161-f3a2-468a-b644-aa3bc913e106/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "portal-service": "https://portal-service.cfapps.sap.hana.ondemand.com",
[...]
