[
    {
        "$nockRef": "cf-apps-list",
        "count": 1,
        "repetition": 1
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 1,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes?page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes?page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "instances": 1
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "09750290-82b8-4f1a-7b49-5392066cee66::722a6b41-7cdd-4995-86c6-8eeceba8649f"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 2,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "0ff95de3-7e9b-45e4-9d11-f881f577e4a1",
                    "host": "skyfin-dev-afc-mtx",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064"
                            }
                        }
                    }
                },
                {
                    "guid": "79575c2d-7db9-44de-8291-5f251debcddf",
                    "host": "skyfin-dev-afc-mtx",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "3352296c-1b56-4b87-869f-cf310a917d14"
                            }
                        }
                    }
                }
            ],
            "included": {
                "domains": [
                    {
                        "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064",
                        "name": "cfapps.sap.hana.ondemand.com"
                    },
                    {
                        "guid": "3352296c-1b56-4b87-869f-cf310a917d14",
                        "name": "mesh.cf.sap.hana.ondemand.com"
                    }
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "1dfb2317-b9dd-4f88-48d8-21265063d802::21b341ed-450e-4ac9-8659-530f25be172c"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 18,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "15581625-8c82-4976-a6cf-e4b4a9d4b650",
                    "created_at": "2026-06-25T20:03:10Z",
                    "updated_at": "2026-06-25T20:03:10Z",
                    "relationships": {
                        "service_instance": {
                            "data": {
                                "guid": "9c12b0fb-ab43-46fc-94e4-82eab5e541ce"
                            }
                        }
                    }
                },
                {
                    "guid": "40175c33-72aa-43b1-bce9-157abe76fb2e",
                    "created_at": "2026-06-25T20:03:19Z",
                    "updated_at": "2026-06-25T20:03:21Z",
                    "relationships": {
                        "service_instance"[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/d6308c84-b740-49f7-bfb5-c6d47c5f1c04/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {}
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464560",
            "x-vcap-request-id",
            "1cf34001-d776-4b0c-6c0b-d6d5911647ec::fb0e13f2-50e5-4c35-a225-902e6afb5a75"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/53280cf6-e63f-4e92-942f-bc60d247b3db/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://html5-apps-repo-rt.cfapps.sap.hana.ondemand.com/",
                "bindable": true,
                "metadata": {
                    "supportsInstanceSharing": true
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname": "4457fe63-ba67-42be-80c6-ce16066c80ca!b5874|html5-apps-repo-uaa!b1129",
                    "certificate": "cf-credentials-credentials-uaa-certificate",
                    "serviceInstanceId": "4457fe63-ba67-42be-80c6-ce16066c80ca",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "certificate-pinning": true,
                    "key": "cf-credentials-credentials-uaa-key"
                },
                "grant_type": "client_credentials",
                "sap.cloud.service": "html5-apps-repo-rt",
                "saasregistryenabled": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "390e0b86-987e-463c-582d-81846d9f9f66::49fbb2d8-1c80-4be2-8c64-a61bb3848440"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/40175c33-72aa-43b1-bce9-157abe76fb2e/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "LPSCallbackDependencyName": "businesslogging-sb-prod",
                "configUrl": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/",
                "configurationPath": "buslogs/configs",
                "content_endpoint": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/content",
                "endpoints": {
                    "configservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs",
                    "readservice": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                    "readservicev4": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                    "textresourceservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs/textresource",
                    "writeservice": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/buslogs/log"
                },
                "host": "cf-credentials-credentials-host",
                "readLogPath": "/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                "readLogPathv4": "/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                "readUrl": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/",
                "saasregistryappname": "businesslogging-sb-prod",
                "saasregistryenabled": true,
                "sap.cloud.service": "com.sap.bs.businesslogging",
                "vendor": "SAP",
                "writeLogPath": "buslogs/log",
                "writeUrl": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/",
                "html5-apps-repo": {
                    "app_host_id": "99fe3965-708a-43bf-9fdf-33206e55010c"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/15581625-8c82-4976-a6cf-e4b4a9d4b650/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {},
            "syslog_drain_url": "https://cf-credentials-syslog_drain_url-username:cf-credentials-syslog_drain_url-password@ingest-sf-068034bc-13cf-4be3-9589-3a751c760bea.cls-01.cloud.logs.services.sap.hana.ondemand.com/cfsyslog"
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "7ff859c4-0443-46f0-6404-2eacee511c77::6f101028-1ebc-4b3b-8bec-301e4b41be45"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/22ed2277-c742-450d-bc18-9b0ca7bf30e1/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://theming-runtime.cfapps.sap.hana.ondemand.com/",
                "endpoints": {
                    "runtime": "https://theming-runtime.cfapps.sap.hana.ondemand.com",
                    "repository": "https://theming-repository.cfapps.sap.hana.ondemand.com"
                },
                "sap.cloud.service": "com.sap.ui.theming",
                "saasregistryappname": "theming",
                "html5-apps-repo": {
                    "app_host_id": "251a90ce-8798-4191-9828-4d4ac97e4ea9"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "xsappname": "e6168484-4a7c-480b-b418-fefcf45afba8!b5874|sap-theming!b2675",
                    "clientsecret": "cf-credentials-credentials-uaa-clientsecret",
                    "serviceInstanceId": "e6168484-4a7c-480b-b418-fefcf45afba8",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "1ba52def-2c5a-4e9b-4256-509dfc4da6cd::e85d21ee-d1bb-4ba0-b22c-093c8e72fe80"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/a2bd5f9f-6cf6-4564-8111-213e6978b153/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "subscription_manager_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "credential-type": "binding-secret",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "afc-dev-sms-clone!b5874|lps-registry-broker!b13",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "serviceInstanceId": "bc61bfb2-0ac6-4002-90c3-74f17dcab64e",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "ias_service_instance_id": "f999651e-8c35-467b-822e-518554570a04",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "callback_certificate_subject": "{\"CN\":\"Subscription Manager\",\"L\":\"Subscription Manager\",\"OU\": [\"sap-provisioning\",\"Canary\",\"SAP Cloud Platform Clients\"],\"O\":\"SAP SE\",\"C\":\"DE\"}",
                "app_name": "afc-dev-sms",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "callback_certificate_subject_rfc_2253": "CN=Subscription Manager,L=Subscription Manager,OU=sap-provisioning,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "callback_certificate_issuer": "{\"C\":\"DE\",\"L\":\"*\",\"O\":\"SAP SE\",\"OU\":\"SAP Cloud Platform Clients\",\"CN\":\"SAP Cloud Platform Client CA\"}",
                "app_urls": "{\"subscriptionCallbacks\":{\"url\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/sms-provisioning/tenant/{app_tid}\",\"async\":{\"updateDependenciesEnable\":false,\"updateSubscriptionParametersEnable\":false,\"subscribeEnable\":true,\"unSubscribeEnable\":true,\"timeoutInMillis\":600000}},\"omitSubscriptionCallbacks\":null,\"dependenciesCallbacks\":{\"url\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/sms-provisioning/dependencies/{app_tid}\"},\"subscriptionParamsCallbacks\":{\"url\":\"\"},\"subscriptionFailureCallbacks\":null}"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "c954f971-8993-4ac5-58a9-21731ae4a192::7d744684-8796-4241-9c7a-6712247f46ff"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/fa40a161-f3a2-468a-b644-aa3bc913e106/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "portal-service": "https://portal-service.cfapps.sap.hana.ondemand.com",
                    "token-service": "cf-credentials-credentials-endpoints-token-service"
                },
                "sap.cloud.service": "com.sap.ui.portal",
                "sap.cloud.service.alias": "cp",
                "saasregistryenabled": true,
                "html5-apps-repo": {
                    "app_host_id": "85cd3f98-4345-42bd-b425-364c144d0e0e,570d7b41-113a-469b-ae5f-7ba55967aed4,c693e508-f8d5-4a70-be60-cb6106d0b60e,77d1971b-3fdc-45e0-8da3-f7b719dfff86"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b204[...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/94c0e4c3-b2f3-407b-868e-5fb7f81a3604/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "sap.cloud.service": "com.sap.ui.flex.cf.keyuser",
                "sap.cloud.service.alias": "flexkeyuser",
                "endpoints": {
                    "keyuser": "cf-credentials-credentials-endpoints-keyuser"
                },
                "saasregistryenabled": true,
                "grant_type": "user_token",
                "url": "https://ui5-flexibility-keyuser.cfapps.sap.hana.ondemand.com/",
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
               [...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e31953af-1d9f-4d1b-8e60-c6381e24ca95/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "token_service_domain": "cf-credentials-credentials-token_service_domain",
                "credential-type": "binding-secret",
                "token_service_url": "cf-credentials-credentials-token_service_url",
                "xsappname": "clone43c89feaa7e14781a446eca57e3748b5!b5874|connectivity!b137",
                "onpremise_proxy_ldap_port": "20001",
                "onpremise_socks5_proxy_port": "20004",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "onpremise_proxy_http_port": "20003",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "onpremise_proxy_host": "connectivityproxy.internal.cf.sap.hana.ondemand.com",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "onpremise_proxy_port": "20003",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "onpremise_proxy_rfc_port": "20001",
                "region_configuration_id": "cf-eu10-canary"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "12e86d74-6338-4cdc-4b7b-010fc62fc171::db66b96c-5679-4692-8d8f-37777856a3fd"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/9ba13b9e-fdb4-49e9-a5b5-064b21193319/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "credential-type": "binding-secret",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "afc-dev",
                "appName": "afc-dev",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "tenant_onboarding_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "saas_registry_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "appUrls": "{\"getDependencies\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/saas-provisioning/dependencies\",\"onSubscription\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/saas-provisioning/tenant/{tenantId}\",\"getSubscriptionParameters\":\"\",\"onSubscriptionFailure\":null,\"onSubscriptionAsync\":true,\"onUnSubscriptionAsync\":true,\"onUpdateSubscriptionParametersAsync\":false,\"callbackTimeoutMillis\":900000,\"runGetDependenciesOnAsyncCallback\":false,\"onUpdateDependenciesAsync\":false}",
                "serviceInstanceId": "8452bcb5-45fc-4740-a770-e49580b331f9",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "6a90ee46-d4b6-40ce-6182-c09827226f2e::5e9ed0dc-7360-4ad8-88fc-6193ff9848f6"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/07415924-be8a-4dce-a475-5e3c182db550/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "binding-secret",
                "xsappname": "clone05ed02605f01499ab0772a3cafc5eac3!b5874|destination-xsappname!b433",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "uri": "https://destination-configuration.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "instanceid": "05ed0260-5f01-499a-b077-2a3cafc5eac3",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "80c8af8a-aa26-49be-7dd5-8d263368a4b4::05fff973-cc37-4691-8674-6e5eaecadbf2"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/3e55a679-07bd-4380-8421-ce690c417fc9/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "apitoken": "cf-credentials-credentials-apitoken",
                "apiurl": "https://canary.eu10.apm.services.cloud.sap/e/99479865-a86b-4792-a740-fc62388b3496/api",
                "environmentid": "99479865-a86b-4792-a740-fc62388b3496",
                "ingest_apitoken": "cf-credentials-credentials-ingest_apitoken",
                "skiperrors": "true",
                "token_expiry": "cf-credentials-credentials-token_expiry"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "fe1c9da9-e15f-4d7e-72d8-b3a7605bf1ee::be500f41-f14a-4661-af90-7480ccc9d831"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/0ca1aeb2-11ca-4841-addd-e348cad751a1/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "credentials_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/api",
                    "notifications_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/",
                    "notifications_mtls_url": "https://clm-sl-ans-canary-ans-service-api.mesh.cf.sap.hana.ondemand.com/",
                    "websockets_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/"
                },
                "saasregistryenabled": true,
                "sap.cloud.service": "alert-notification",
                "grant_type": "user_token",
                "uaa": {
                    "tenantmode": "shared",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    [...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/950a7e5f-e018-4d66-a01b-7f6e8b02f099/details",
[...]
