[
    {
        "$nockRef": "cf-apps-list",
        "count": 1,
        "repetition": 1
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 1,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes?page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes?page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "instances": 2
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 2,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "819b3465-aa66-4ade-b29e-35530951b66e",
                    "host": "skyfin-dev-afc-backend",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064"
                            }
                        }
                    }
                },
                {
                    "guid": "91d1705b-ce16-47e9-b556-bf7abc554f09",
                    "host": "skyfin-dev-afc-backend",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "3352296c-1b56-4b87-869f-cf310a917d14"
                            }
                        }
                    }
                }
            ],
            "included": {
                "domains": [
                    {
                        "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064",
                        "name": "cfapps.sap.hana.ondemand.com"
                    },
                    {
                        "guid": "3352296c-1b56-4b87-869f-cf310a917d14",
                        "name": "mesh.cf.sap.hana.ondemand.com"
                    }
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 17,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "e9dd8657-cd50-4399-b620-cbb1fe40d606",
                    "created_at": "2025-06-24T19:49:01Z",
                    "updated_at": "2025-06-24T19:49:03Z",
                    "relationships": {
                        "service_instance": {
                            "data": {
                                "guid": "015ba89e-44e6-4316-a250-9ccbf2d9267e"
                            }
                        }
                    }
                },
                {
                    "guid": "4e72bf71-c8a5-4110-aa49-4e20dc07ba35",
                    "created_at": "2026-06-30T20:00:25Z",
                    "updated_at": "2026-06-30T20:00:25Z",
                    "relationships": {
                        "service_instance"[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_plans?include=service_offering",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 103,
                "total_pages": 3,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_plans?include=service_offering&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_plans?include=service_offering&page=3&per_page=50"
                },
                "next": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_plans?include=service_offering&page=2&per_page=50"
                },
                "previous": null
            },
            "resources": [
                {
                    "guid": "fd5ec767-713c-48ca-927e-b34669dc2920",
                    "name": "hdi-shared",
                    "relationships": {
                        "service_offering": {
                            "data": {
                                "guid": "ad14ecbe-ed72-4e1a-a25e-5c49c79b9d05"
                            }
                        }
                    }
                },
                {
                    "guid": "432bd9db-20e2-4997-825f-e4a937705b87",
                    "name": "application",
                    "relationships": {
                        "service_offering": {
                            "data": {
                               [...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_plans?include=service_offering&page=2&per_page=50",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 103,
                "total_pages": 3,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_plans?include=service_offering&page=1&per_page=50"
       [...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_plans?include=service_offering&page=3&per_page=50",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 103,
                "total_pages": 3,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_plans?include=service_offering&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_plans?include=service_offering&page=3&per_page=50"
                },
                "next": null,
                "previous": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_plans?include=service_offering&page=2&per_page=50"
                }
            },
            "resources": [],
            "included": {
                "service_offerings": []
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/4e72bf71-c8a5-4110-aa49-4e20dc07ba35/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "pass": "cf-credentials-credentials-pass",
                "user": "cf-credentials-credentials-user"
            },
            "syslog_drain_url": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e9dd8657-cd50-4399-b620-cbb1fe40d606/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "custom_metrics": {
                    "mtls_url": "https://autoscaler-metrics-mtls.cf.sap.hana.ondemand.com/"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/f092eb3e-ece7-43fd-b4d8-687139e8598c/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "sync_scan_url": "https://malware-scanner.cf.sap.hana.ondemand.com/",
                "async_scan_url": "",
                "uri": "malware-scanner.cf.sap.hana.ondemand.com/",
                "url": "https://malware-scanner.cf.sap.hana.ondemand.com/",
                "username": "cf-credentials-credentials-username",
                "password": "cf-credentials-credentials-password"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/42fad5cf-a5c6-4632-9d75-1ee6f40b2fa2/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "shared",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "clientid": "cf-credentials-credentials-clientid-8168a434",
                "credential-type": "x509",
                "clientx509enabled": false,
                "xsappname": "afc-dev!t5874",
                "certificate": "cf-credentials-credentials-certificate",
                "serviceInstanceId": "e020b20a-eb23-4475-91ec-d525f8738fd7",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "certificate-pinning": true,
                "key": "cf-credentials-credentials-key"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/c34f69b6-e633-452d-947a-73649874d065/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "credentials_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/api",
                    "notifications_mtls_url": "https://clm-sl-ans-canary-ans-service-api.mesh.cf.sap.hana.ondemand.com/",
                    "notifications_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/",
                    "websockets_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/"
                },
                "grant_type": "user_token",
                "saasregistryenabled": true,
                "sap.cloud.service": "alert-notification",
                "uaa": {
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "clientid": "cf-credentials-credentials-uaa-clientid-130968dc",
                    "clientsecret": "cf-credentials-credentials-uaa-clientsecret",
                    "credential-type": "binding-secret",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "serviceInstanceId": "e9f2bb15-1b46-4ea6-8530-a89508081ec4",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantmode": "shared",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "xsappname": "e9f2bb15-1b46-4ea6-8530-a89508081ec4!b5874|ans-business!b2187",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/8af34d2d-fa7a-42e0-90e3-5077e97ea320/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "password": "cf-credentials-credentials-password",
                "hostname": "clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com",
                "port": 3991,
                "uri": "rediss://:cf-credentials-credentials-uri-password@clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com:3991",
                "cluster_mode": true,
                "urls": {
                    "api_server": "https://api-backing-services.eu10-canary.data.services.cloud.sap"
                },
                "tls": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/94fe292c-6acc-4717-b25d-97ed5aa2202a/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "certificateservice": {
                    "profileurl": "https://certificate-service.cf.sap.hana.ondemand.com/certservice/v2/enroll/standard",
                    "apiurl": "https://certificate-service.cf.sap.hana.ondemand.com/",
                    "subjectpattern": "C=DE, O=SAP SE, OU=SAP Cloud Platform Clients, OU=Canary, OU=7b20408e-3fe0-4ade-aa2e-ad97baac72e8, L=%s, CN=%s",
                    "policy": "sap-cloud-platform-clients"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid-112a8999",
                    "xsappname": "bc85eb47-2b47-4544-b1de-821d11137d24!b5874|certificate-service!b17617",
                    "clientsecret": "cf-credentials-credentials-uaa-clientsecret",
                    "serviceInstanceId": "bc85eb47-2b47-4544-b1de-821d11137d24",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/57d99719-d788-46e0-acc9-477601465f0d/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid-f71016a7",
                "token_service_domain": "cf-credentials-credentials-token_service_domain",
                "credential-type": "binding-secret",
                "token_service_url": "cf-credentials-credentials-token_service_url",
                "xsappname": "clone43c89feaa7e14781a446eca57e3748b5!b5874|connectivity!b137",
                "onpremise_proxy_ldap_port": "20001",
                "onpremise_socks5_proxy_port": "20004",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "onpremise_proxy_http_port": "20003",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "onpremise_proxy_host": "connectivityproxy.internal.cf.sap.hana.ondemand.com",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "onpremise_proxy_port": "20003",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "onpremise_proxy_rfc_port": "20001",
                "region_configuration_id": "cf-eu10-canary"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/86a4757d-982e-44d7-876a-cb1ae548ae81/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "sm_url": "https://service-manager.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                "clientid": "cf-credentials-credentials-clientid-612fd251",
                "xsappname": "51ddd18b-5a78-418e-8f41-9a4c518650ec!b5874|service-manager!b4065",
                "certificate": "cf-credentials-credentials-certificate",
                "key": "cf-credentials-credentials-key",
                "uaadomain": "authentication.sap.hana.ondemand.com"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/155efd4c-338d-4d5c-9a8a-ef23420dd1ec/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "url": "https://api.auditlog.cf.sap.hana.ondemand.com/",
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid-69cb97bf",
                    "xsappname": "d27[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/2e37cd11-8a67-44b0-b398-51777ad9c9ab/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid-d8a263ca",
                "credential-type": "binding-secret",
                "xsappname": "clone05ed02605f01499ab0772a3cafc5eac3!b5874|destination-xsappname!b433",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "uri": "https://destination-configuration.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "instanceid": "05ed0260-5f01-499a-b077-2a3cafc5eac3",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/ee92992e-55cc-4212-8ac2-4c4e269f710d/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "btp-tenant-api": "https://api.authentication.sap.hana.ondemand.com",
                "app_tid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "clientid": "cf-credentials-credentials-clientid-ea7419d4",
                "credential-type": "X509_GENERATED",
                "certificate": "cf-credentials-credentials-certificate",
                "domains": [
                    "accounts400.ondemand.com",
                    "accounts400.cloud.sap"
                ],
                "end_session_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/logout",
                "url": "https://awdsp8ef4.accounts400.ondemand.com/",
                "authorization_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/authorize",
                "certificate_expires_at": "2026-09-28T20:01:01Z",
                "domain": "accounts400.ondemand.com",
                "key": "cf-credentials-credentials-key"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e519181d-750f-4588-b4f6-8fee219b8345/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "apitoken": "cf-credentials-credentials-apitoken",
                "apiurl": "https://canary.eu10.apm.services.cloud.sap/e/99479865-a86b-4792-a740-fc62388b3496/api",
                "environmentid": "99479865-a86b-4792-a740-fc62388b3496",
                "ingest_apitoken": "cf-credentials-credentials-ingest_apitoken",
                "skiperrors": "true",
                "token_expiry": "cf-credentials-credentials-token_expiry"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/ca503bf1-ae28-498a-ac1e-a06f46e98dc9/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "LPSCallbackDependencyName": "businesslogging-sb-prod",
                "configUrl": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/",
                "configurationPath": "buslogs/configs",
                "content_endpoint": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/content",
                "endpoints": {
                    "configservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs",
                    "readservice": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                    "readservicev4": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                    "textresourceservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs/textresource",
                    "writeservice": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/buslogs/log"
                },
                "host": "cf-credentials-credentials-host",
                "readLogPath": "/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                "readLogPathv4": "/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                "readUrl": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/",
                "saasregistryappname": "businesslogging-sb-prod",
                "saasregistryenabled": true,
                "sap.cloud.service": "com.sap.bs.businesslogging",
                "vendor": "SAP",
                "writeLogPath": "buslogs/log",
                "writeUrl": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/",
                "html5-apps-repo": {
                    "app_host_id": "99fe3965-708a-43bf-9fdf-33206e55010c"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid-9458c8c1",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/2aafe7ea-fc6e-4e4a-b86e-424e841618ad/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "serviceurls": {
                    "AI_API_URL": "https://api.ai.internalprod.eu-central-1.aws.ml.hana.ondemand.com/"
                },
                "appname": "cff72d89-f0b9-4c3d-b1e4-6e26bc874eaf!b5874|xsuaa_std!b77089",
                "clientid": "cf-credentials-credentials-clientid-563267fd",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "credential-type": "binding-secret",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://skyfin.authentication.cert.sap.hana.ondemand.com:443",
        "method": "POST",
        "path": "/oauth/token",
        "status": 200,
        "response": {
[...]
