[
    {
        "$nockRef": "cf-apps-list",
        "count": 1,
        "repetition": 1
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 2,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "819b3465-aa66-4ade-b29e-35530951b66e",
                    "host": "skyfin-dev-afc-backend",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064"
                            }
                        }
                    }
                },
                {
                    "guid": "91d1705b-ce16-47e9-b556-bf7abc554f09",
                    "host": "skyfin-dev-afc-backend",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "3352296c-1b56-4b87-869f-cf310a917d14"
                            }
                        }
                    }
                }
            ],
            "included": {
                "domains": [
                    {
                        "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064",
                        "name": "cfapps.sap.hana.ondemand.com"
                    },
                    {
                        "guid": "3352296c-1b56-4b87-869f-cf310a917d14",
                        "name": "mesh.cf.sap.hana.ondemand.com"
                    }
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "5a541b0b-149a-43c5-4b55-3b875ccf6d0f::f115ccc7-b53b-4264-8cfe-7fe5d9615c04"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 1,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes?page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes?page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "instances": 2
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "6db7fb9a-6a30-4dbb-5213-b49bf70549f3::b3780ba0-8a3e-488a-b7c8-e9a235bd8651"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 17,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "e9dd8657-cd50-4399-b620-cbb1fe40d606",
                    "created_at": "2025-06-24T19:49:01Z",
                    "updated_at": "2025-06-24T19:49:03Z",
                    "relationships": {
                        "service_instance": {
                            "data": {
                                "guid": "015ba89e-44e6-4316-a250-9ccbf2d9267e"
                            }
                        }
                    }
                },
                {
                    "guid": "7a8d812c-fe7d-439d-89ec-432165a7d77c",
                    "created_at": "2026-06-28T20:02:08Z",
                    "updated_at": "2026-06-28T20:02:08Z",
                    "relationships": {
                        "service_instance"[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e9dd8657-cd50-4399-b620-cbb1fe40d606/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "custom_metrics": {
                    "mtls_url": "https://autoscaler-metrics-mtls.cf.sap.hana.ondemand.com/"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723762",
            "x-vcap-request-id",
            "b3b1c342-303c-4f42-6e97-06a5251ec9c1::cbae7ba8-5275-45c7-a4a6-0e1810bfe16f"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/a5cdd133-cf39-4d3a-ba5b-2bbbad6af7fd/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "pass": "cf-credentials-credentials-pass",
                "user": "cf-credentials-credentials-user"
            },
            "syslog_drain_url": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "f649b6a1-76ed-49de-6ed4-36532523a6e4::ddff45a2-e60e-49f0-b609-2010e6b17bab"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/25de5c8c-a1e1-44a4-9f30-f80b7602bd57/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "credentials_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/api",
                    "notifications_mtls_url": "https://clm-sl-ans-canary-ans-service-api.mesh.cf.sap.hana.ondemand.com/",
                    "notifications_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/",
                    "websockets_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/"
                },
                "grant_type": "user_token",
                "saasregistryenabled": true,
                "sap.cloud.service": "alert-notification",
                "uaa": {
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "clientsecret": "cf-credentials-credentials-uaa-clientsecret",
                    "credential-type": "binding-secret",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "serviceInstanceId": "e9f2bb15-1b46-4ea6-8530-a89508081ec4",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantmode": "shared",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "xsappname": "e9f2bb15-1b46-4ea6-8530-a89508081ec4!b5874|ans-business!b2187",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "ad54b625-8c2d-4428-6b44-d1e9daf22e98::8bca67c1-2d4c-4aba-9b92-d7d96fe4d644"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/05d22aa4-d414-4043-a2ee-fe71ab7ea769/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "password": "cf-credentials-credentials-password",
                "hostname": "clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com",
                "port": 3991,
                "uri": "rediss://:cf-credentials-credentials-uri-password@clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com:3991",
                "cluster_mode": true,
                "urls": {
                    "api_server": "https://api-backing-services.eu10-canary.data.services.cloud.sap"
                },
                "tls": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723762",
            "x-vcap-request-id",
            "fa326447-96ff-42df-5e3e-cef0251bfce0::60fa73ec-5abf-437a-addc-d30832fc5e1b"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/283acf61-e1dc-425b-9559-3df4d9d3ce9c/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "serviceurls": {
                    "AI_API_URL": "https://api.ai.internalprod.eu-central-1.aws.ml.hana.ondemand.com/"
                },
                "appname": "cff72d89-f0b9-4c3d-b1e4-6e26bc874eaf!b5874|xsuaa_std!b77089",
                "clientid": "cf-credentials-credentials-clientid",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "credential-type": "binding-secret",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723762",
            "x-vcap-request-id",
            "ad2b1498-bff1-4ef9-6aba-97723e9e842c::1991f4b9-9be8-4445-b3af-1b15fab80fe3"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/052daefe-e60c-4556-b6be-ae76376084b6/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "token_service_domain": "cf-credentials-credentials-token_service_domain",
                "credential-type": "binding-secret",
                "token_service_url": "cf-credentials-credentials-token_service_url",
                "xsappname": "clone43c89feaa7e14781a446eca57e3748b5!b5874|connectivity!b137",
                "onpremise_proxy_ldap_port": "20001",
                "onpremise_socks5_proxy_port": "20004",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "onpremise_proxy_http_port": "20003",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "onpremise_proxy_host": "connectivityproxy.internal.cf.sap.hana.ondemand.com",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "onpremise_proxy_port": "20003",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "onpremise_proxy_rfc_port": "20001",
                "region_configuration_id": "cf-eu10-canary"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "939194f0-19ad-4c0e-47da-2e7fccd51584::6add0529-9714-4232-80b0-2ad621baa802"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/90999720-d7bb-4ef4-9ecc-10e7c67515ba/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "url": "https://api.auditlog.cf.sap.hana.ondemand.com/",
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "xsappname": "d2761c94-ee8[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/876792ac-20dd-425b-ab44-d830bed45165/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "certificateservice": {
                    "profileurl": "https://certificate-service.cf.sap.hana.ondemand.com/certservice/v2/enroll/standard",
                    "apiurl": "https://certificate-service.cf.sap.hana.ondemand.com/",
                    "subjectpattern": "C=DE, O=SAP SE, OU=SAP Cloud Platform Clients, OU=Canary, OU=7b20408e-3fe0-4ade-aa2e-ad97baac72e8, L=%s, CN=%s",
                    "policy": "sap-cloud-platform-clients"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "xsappname": "bc85eb47-2b47-4544-b1de-821d11137d24!b5874|c[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/b26a51a5-7763-4a17-b78c-f90a2555fe0a/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "apitoken": "cf-credentials-credentials-apitoken",
                "apiurl": "https://canary.eu10.apm.services.cloud.sap/e/99479865-a86b-4792-a740-fc62388b3496/api",
                "environmentid": "99479865-a86b-4792-a740-fc62388b3496",
                "ingest_apitoken": "cf-credentials-credentials-ingest_apitoken",
                "skiperrors": "true",
                "token_expiry": "cf-credentials-credentials-token_expiry"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "36b0d3fe-8a5e-4fe2-43b2-31aec78b4e70::8afd7a30-b1b9-44b1-9a31-f6cb35a13a17"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/00227123-d729-4f72-bb3b-2765ea3d4726/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "binding-secret",
                "xsappname": "clone05ed02605f01499ab0772a3cafc5eac3!b5874|destination-xsappname!b433",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "uri": "https://destination-configuration.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "instanceid": "05ed0260-5f01-499a-b077-2a3cafc5eac3",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "99806cc2-0436-4436-4035-1e5b18179da8::c72f0acf-41e5-492e-aa84-01d8d78dd7fa"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/4712016e-06ca-498c-b1a4-52f5b7948ba6/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "shared",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "x509",
                "clientx509enabled": false,
                "xsappname": "afc-dev!t5874",
                "certificate": "cf-credentials-credentials-certificate",
                "serviceInstanceId": "e020b20a-eb23-4475-91ec-d525f8738fd7",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "certificate-pinning": true,
                "key": "cf-credentials-credentials-key"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "5368d7dd-a9aa-42fc-4b42-9ad2ae711f0d::b5183519-205d-47a7-896a-b56b22d21dde"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/76d1280a-d503-46c5-91b3-4aca0562adc9/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "LPSCallbackDependencyName": "businesslogging-sb-prod",
                "configUrl": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/",
                "configurationPath": "buslogs/configs",
                "content_endpoint": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/content",
                "endpoints": {
                    "configservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs",
                    "readservice": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                    "readservicev4": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                    "textresourceservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs/textresource",
                    "writeservice": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/buslogs/log"
                },
                "host": "cf-credentials-credentials-host",
                "readLogPath": "/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                "readLogPathv4": "/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                "readUrl": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/",
                "saasregistryappname": "businesslogging-sb-prod",
                "saasregistryenabled": true,
                "sap.cloud.service": "com.sap.bs.businesslogging",
                "vendor": "SAP",
                "writeLogPath": "buslogs/log",
                "writeUrl": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/",
                "html5-apps-repo": {
                    "app_host_id": "99fe3965-708a-43bf-9fdf-33206e55010c"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e40df3b7-83a3-4f94-a46c-06856f978110/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "sync_scan_url": "https://malware-scanner.cf.sap.hana.ondemand.com/",
                "async_scan_url": "",
                "uri": "malware-scanner.cf.sap.hana.ondemand.com/",
                "url": "https://malware-scanner.cf.sap.hana.ondemand.com/",
                "username": "cf-credentials-credentials-username",
                "password": "cf-credentials-credentials-password"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "774e3039-f8a1-4b11-4c86-28cdab79cddb::a676feac-4d8f-4f97-ac1e-751468f3d0ce"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/652364c9-69bd-41ff-a85e-c01b25006f69/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "btp-tenant-api": "https://api.authentication.sap.hana.ondemand.com",
                "app_tid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "X509_GENERATED",
                "certificate": "cf-credentials-credentials-certificate",
                "domains": [
                    "accounts400.ondemand.com",
                    "accounts400.cloud.sap"
                ],
                "end_session_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/logout",
                "url": "https://awdsp8ef4.accounts400.ondemand.com/",
                "authorization_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/authorize",
                "certificate_expires_at": "2026-09-26T20:02:41Z",
                "domain": "accounts400.ondemand.com",
                "key": "cf-credentials-credentials-key"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "4c7f3cc0-dd4f-4cab-79ed-54e4c9eb945c::aa0bd0ca-144c-47be-b984-179babbf5fc7"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/93ac7b59-1201-46b8-824b-c3d73036f8e9/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "sm_url": "https://service-manager.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "51ddd18b-5a78-418e-8f41-9a4c518650ec!b5874|service-manager!b4065",
                "certificate": "cf-credentials-credentials-certificate",
                "key": "cf-credentials-credentials-key",
                "uaadomain": "authentication.sap.hana.ondemand.com"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782723761",
            "x-vcap-request-id",
            "e131a01d-e1d2-4b60-5d2e-8c959010dfec::2e0d0744-6b54-4aa3-ac01-70d8ed24c0d4"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://skyfin.authentication.cert.sap.hana.ondemand.com:443",
        "method": "POST",
        "path": "/oauth/token",
        "status": 200,
        "response": {
            "access_token": "000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000[...]
    {
[...]
