[
    {
        "$nockRef": "cf-apps-list",
        "count": 1,
        "repetition": 1
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 1,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes?page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/5cccc504-4911-43ef-a531-31cbf2b89939/processes?page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "instances": 1
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "fb5365d1-4860-4d42-7645-56c3b632dc4d::a315e122-ded8-49ef-b7cf-3c354fe2f6a5"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 2,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=domain&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "0ff95de3-7e9b-45e4-9d11-f881f577e4a1",
                    "host": "skyfin-dev-afc-mtx",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064"
                            }
                        }
                    }
                },
                {
                    "guid": "79575c2d-7db9-44de-8291-5f251debcddf",
                    "host": "skyfin-dev-afc-mtx",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "3352296c-1b56-4b87-869f-cf310a917d14"
                            }
                        }
                    }
                }
            ],
            "included": {
                "domains": [
                    {
                        "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064",
                        "name": "cfapps.sap.hana.ondemand.com"
                    },
                    {
                        "guid": "3352296c-1b56-4b87-869f-cf310a917d14",
                        "name": "mesh.cf.sap.hana.ondemand.com"
                    }
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "999f3ac4-69a5-4851-489b-c4e80f1dd365::3971ac58-cb60-46c2-bb15-78199274bb71"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 18,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=5cccc504-4911-43ef-a531-31cbf2b89939&include=service_instance&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "15581625-8c82-4976-a6cf-e4b4a9d4b650",
                    "created_at": "2026-06-25T20:03:10Z",
                    "updated_at": "2026-06-25T20:03:10Z",
                    "relationships": {
                        "service_instance": {
                            "data": {
                                "guid": "9c12b0fb-ab43-46fc-94e4-82eab5e541ce"
                            }
                        }
                    }
                },
                {
                    "guid": "40175c33-72aa-43b1-bce9-157abe76fb2e",
                    "created_at": "2026-06-25T20:03:19Z",
                    "updated_at": "2026-06-25T20:03:21Z",
                    "relationships": {
                        "service_instance"[...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/53280cf6-e63f-4e92-942f-bc60d247b3db/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://html5-apps-repo-rt.cfapps.sap.hana.ondemand.com/",
                "bindable": true,
                "metadata": {
                    "supportsInstanceSharing": true
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname": "4457fe63-ba67-42be-80c6-ce16066c80ca!b5874|html5-apps-repo-uaa!b1129",
                    "certificate": "cf-credentials-credentials-uaa-certificate",
                    "serviceInstanceId": "4457fe63-ba67-42be-80c6-ce16066c80ca",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "certificate-pinning": true,
                    "key": "cf-credentials-credentials-uaa-key"
                },
                "grant_type": "client_credentials",
                "sap.cloud.service": "html5-apps-repo-rt",
                "saasregistryenabled": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "2ecaf8f0-7b96-4fe9-7677-ec62a14c402e::0a5f9751-64df-4e70-9074-22d941edfd70"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/a2bd5f9f-6cf6-4564-8111-213e6978b153/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "subscription_manager_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "credential-type": "binding-secret",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "afc-dev-sms-clone!b5874|lps-registry-broker!b13",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "serviceInstanceId": "bc61bfb2-0ac6-4002-90c3-74f17dcab64e",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "ias_service_instance_id": "f999651e-8c35-467b-822e-518554570a04",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "callback_certificate_subject": "{\"CN\":\"Subscription Manager\",\"L\":\"Subscription Manager\",\"OU\": [\"sap-provisioning\",\"Canary\",\"SAP Cloud Platform Clients\"],\"O\":\"SAP SE\",\"C\":\"DE\"}",
                "app_name": "afc-dev-sms",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "callback_certificate_subject_rfc_2253": "CN=Subscription Manager,L=Subscription Manager,OU=sap-provisioning,OU=Canary,OU=SAP Cloud Platform Clients,O=SAP SE,C=DE",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "callback_certificate_issuer": "{\"C\":\"DE\",\"L\":\"*\",\"O\":\"SAP SE\",\"OU\":\"SAP Cloud Platform Clients\",\"CN\":\"SAP Cloud Platform Client CA\"}",
                "app_urls": "{\"subscriptionCallbacks\":{\"url\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/sms-provisioning/tenant/{app_tid}\",\"async\":{\"updateDependenciesEnable\":false,\"updateSubscriptionParametersEnable\":false,\"subscribeEnable\":true,\"unSubscribeEnable\":true,\"timeoutInMillis\":600000}},\"omitSubscriptionCallbacks\":null,\"dependenciesCallbacks\":{\"url\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/sms-provisioning/dependencies/{app_tid}\"},\"subscriptionParamsCallbacks\":{\"url\":\"\"},\"subscriptionFailureCallbacks\":null}"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "bad441b3-17a7-48fe-4871-070ecc6edb16::7521240e-696b-4579-83fe-398d16e787de"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/15581625-8c82-4976-a6cf-e4b4a9d4b650/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {},
            "syslog_drain_url": "https://cf-credentials-syslog_drain_url-username:cf-credentials-syslog_drain_url-password@ingest-sf-068034bc-13cf-4be3-9589-3a751c760bea.cls-01.cloud.logs.services.sap.hana.ondemand.com/cfsyslog"
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "e1367784-d530-476e-5fbe-fbe5d7857d77::40f48012-6466-46df-b2d5-8f98c25e4cf0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/22ed2277-c742-450d-bc18-9b0ca7bf30e1/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://theming-runtime.cfapps.sap.hana.ondemand.com/",
                "endpoints": {
                    "runtime": "https://theming-runtime.cfapps.sap.hana.ondemand.com",
                    "repository": "https://theming-repository.cfapps.sap.hana.ondemand.com"
                },
                "sap.cloud.service": "com.sap.ui.theming",
                "saasregistryappname": "theming",
                "html5-apps-repo": {
                    "app_host_id": "251a90ce-8798-4191-9828-4d4ac97e4ea9"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "xsappname": "e6168484-4a7c-480b-b418-fefcf45afb[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/40175c33-72aa-43b1-bce9-157abe76fb2e/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "LPSCallbackDependencyName": "businesslogging-sb-prod",
                "configUrl": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/",
                "configurationPath": "buslogs/configs",
                "content_endpoint": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/content",
                "endpoints": {
                    "configservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs",
                    "readservice": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                    "readservicev4": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                    "textresourceservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs/textresource",
                    "writeservice": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/buslogs/log"
                },
                "host": "cf-credentials-credentials-host",
                "readLogPath": "/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                "readLogPathv4": "/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                "readUrl": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/",
                "saasregistryappname": "businesslogging-sb-prod",
                "saasregistryenabled": true,
                "sap.cloud.service": "com.sap.bs.businesslogging",
                "vendor": "SAP",
                "writeLogPath": "buslogs/log",
                "writeUrl": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/",
                "html5-apps-repo": {
                    "app_host_id": "99fe3965-708a-43bf-9fdf-33206e55010c"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credenti[...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e31953af-1d9f-4d1b-8e60-c6381e24ca95/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "token_service_domain": "cf-credentials-credentials-token_service_domain",
                "credential-type": "binding-secret",
                "token_service_url": "cf-credentials-credentials-token_service_url",
                "xsappname": "clone43c89feaa7e14781a446eca57e3748b5!b5874|connectivity!b137",
                "onpremise_proxy_ldap_port": "20001",
                "onpremise_socks5_proxy_port": "20004",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "onpremise_proxy_http_port": "20003",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "onpremise_proxy_host": "connectivityproxy.internal.cf.sap.hana.ondemand.com",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "onpremise_proxy_port": "20003",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "onpremise_proxy_rfc_port": "20001",
                "region_configuration_id": "cf-eu10-canary"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "566737e5-cfb4-4f74-6eb5-2af940599224::3849338d-09a6-432b-a7ef-79ede0a8bbda"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/94c0e4c3-b2f3-407b-868e-5fb7f81a3604/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "sap.cloud.service": "com.sap.ui.flex.cf.keyuser",
                "sap.cloud.service.alias": "flexkeyuser",
                "endpoints": {
                    "keyuser": "cf-credentials-credentials-endpoints-keyuser"
                },
                "saasregistryenabled": true,
                "grant_type": "user_token",
                "url": "https://ui5-flexibility-keyuser.cfapps.sap.hana.ondemand.com/",
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
               [...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/fa40a161-f3a2-468a-b644-aa3bc913e106/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "portal-service": "https://portal-service.cfapps.sap.hana.ondemand.com",
                    "token-service": "cf-credentials-credentials-endpoints-token-service"
                },
                "sap.cloud.service": "com.sap.ui.portal",
                "sap.cloud.service.alias": "cp",
                "saasregistryenabled": true,
                "html5-apps-repo": {
                    "app_host_id": "85cd3f98-4345-42bd-b425-364c144d0e0e,570d7b41-113a-469b-ae5f-7ba55967aed4,c693e508-f8d5-4a70-be60-cb6106d0b60e,77d1971b-3fdc-45e0-8da3-f7b719dfff86"
                },
                "uaa": {
         [...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/9ba13b9e-fdb4-49e9-a5b5-064b21193319/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "credential-type": "binding-secret",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "afc-dev",
                "appName": "afc-dev",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "tenant_onboarding_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "saas_registry_url": "https://saas-manager.mesh.cf.sap.hana.ondemand.com/",
                "appUrls": "{\"getDependencies\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/saas-provisioning/dependencies\",\"onSubscription\":\"https://skyfin-dev-afc-mtx.mesh.cf.sap.hana.ondemand.com/-/cds/saas-provisioning/tenant/{tenantId}\",\"getSubscriptionParameters\":\"\",\"onSubscriptionFailure\":null,\"onSubscriptionAsync\":true,\"onUnSubscriptionAsync\":true,\"onUpdateSubscriptionParametersAsync\":false,\"callbackTimeoutMillis\":900000,\"runGetDependenciesOnAsyncCallback\":false,\"onUpdateDependenciesAsync\":false}",
                "serviceInstanceId": "8452bcb5-45fc-4740-a770-e49580b331f9",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "39ffa6a7-55f4-47ba-6178-7ae424760b1c::32d895ec-f273-457c-9a40-f0d4f39eee00"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/3e55a679-07bd-4380-8421-ce690c417fc9/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "apitoken": "cf-credentials-credentials-apitoken",
                "apiurl": "https://canary.eu10.apm.services.cloud.sap/e/99479865-a86b-4792-a740-fc62388b3496/api",
                "environmentid": "99479865-a86b-4792-a740-fc62388b3496",
                "ingest_apitoken": "cf-credentials-credentials-ingest_apitoken",
                "skiperrors": "true",
                "token_expiry": "cf-credentials-credentials-token_expiry"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "574569b9-3cbe-4337-4442-7d7ca5dc3186::01c86514-7642-4fb1-814b-590186c9c188"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/07415924-be8a-4dce-a475-5e3c182db550/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "binding-secret",
                "xsappname": "clone05ed02605f01499ab0772a3cafc5eac3!b5874|destination-xsappname!b433",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "uri": "https://destination-configuration.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "instanceid": "05ed0260-5f01-499a-b077-2a3cafc5eac3",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "54f75832-09cf-4790-6dec-bc96331719fd::54aebaf6-585e-4f37-b2f8-5a4a4cea4bab"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/0ca1aeb2-11ca-4841-addd-e348cad751a1/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "credentials_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/api",
                    "notifications_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/",
                    "notifications_mtls_url": "https://clm-sl-ans-canary-ans-service-api.mesh.cf.sap.hana.ondemand.com/",
                    "websockets_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/"
                },
                "saasregistryenabled": true,
                "sap.cloud.service": "alert-notification",
                "grant_type": "user_token",
                "uaa": {
                    "tenantmode": "shared",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    [...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/31850812-91ae-4efb-ace5-46337d3c2dc6/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "password": "cf-credentials-credentials-password",
                "hostname": "clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com",
                "port": 3991,
                "uri": "rediss://:cf-credentials-credentials-uri-password@clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com:3991",
                "cluster_mode": true,
                "urls": {
                    "api_server": "https://api-backing-services.eu10-canary.data.services.cloud.sap"
                },
                "tls": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782464561",
            "x-vcap-request-id",
            "e417349f-7f54-4476-4b79-e2946a0099b4::5017f66c-7c8b-4163-8c7b-c2e67c50e5c1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/6a699b5c-6981-4ba5-bc6b-133edba7d375/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "sm_url": "https://service-manager.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "51ddd18b-5a78-418e-8f41-9a4c518650ec!b5874|service-manager!b4065",
                "certificate": "cf-credentials-credentials-certificate",
                "key": "cf-credentials-credentials-key",
                "uaadomain": "authentication.sap.hana.ondemand.com"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
[...]
