[
    {
        "$nockRef": "cf-apps-list",
        "count": 1,
        "repetition": 1
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps/188569c2-8a80-4eb2-a80b-4aa58dd40c7b/processes",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 1,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/188569c2-8a80-4eb2-a80b-4aa58dd40c7b/processes?page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/188569c2-8a80-4eb2-a80b-4aa58dd40c7b/processes?page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "966321d5-440e-48f4-818b-112871d27ce5",
                    "created_at": "2026-02-10T10:27:00Z",
                    "updated_at": "2026-06-25T20:14:28Z",
                    "version": "6e1279c4-0f66-4f48-942e-99f360e996eb",
                    "type": "web",
                    "command": "[PRIVATE DATA HIDDEN IN LISTS]",
                    "user": "vcap",
                    "instances": 2,
                    "memory_in_mb": 512,
                    "disk_in_mb": 1024,
                    "log_rate_limit_in_bytes_per_second": -1,
                    "health_check": {
                        "type": "http",
                        "data": {
                            "timeout": 180,
                            "invocation_timeout": 180,
                            "interval": null,
                            "endpoint": "/cfhealth"
                        }
                    },
                    "readiness_health_check": {
                        "type": "process",
                        "data": {
                            "invocation_timeout": null,
                            "interval": null
                        }
                    },
                    "relationships": {
                        "app": {
                            "data": {
                                "guid": "188569c2-8a80-4eb2-a80b-4aa58dd40c7b"
                            }
                        },
                        "revision": {
                            "data": {
                                "guid": "c7b99dfb-3b22-4e8a-b70f-c1843ed1e921"
                            }
                        }
                    },
                    "metadata": {
                        "labels": {},
                        "annotations": {}
                    },
                    "links": {
                        "self": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/966321d5-440e-48f4-818b-112871d27ce5"
                        },
                        "scale": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/966321d5-440e-48f4-818b-112871d27ce5/actions/scale",
                            "method": "POST"
                        },
                        "app": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/188569c2-8a80-4eb2-a80b-4aa58dd40c7b"
                        },
                        "space": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/spaces/0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                        },
                        "stats": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/966321d5-440e-48f4-818b-112871d27ce5/stats"
                        },
                        "process_instances": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/processes/966321d5-440e-48f4-818b-112871d27ce5/process_instances"
                        }
                    }
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462760",
            "x-vcap-request-id",
            "47b2bbf6-462a-4d4f-59eb-930773648329::2f3b942b-9b08-4fb5-a046-eefb5fa5d360"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/routes?app_guids=188569c2-8a80-4eb2-a80b-4aa58dd40c7b&include=domain",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 3,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=188569c2-8a80-4eb2-a80b-4aa58dd40c7b&include=domain&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=188569c2-8a80-4eb2-a80b-4aa58dd40c7b&include=domain&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "61cc8c7a-b997-41f1-91b3-f4de64127eb0",
                    "created_at": "2020-08-26T12:37:49Z",
                    "updated_at": "2020-08-26T12:37:49Z",
                    "protocol": "http",
                    "host": "*",
                    "path": "",
                    "port": null,
                    "url": "*.dev-afc-sap.cfapps.sap.hana.ondemand.com",
                    "destinations": [
                        {
                            "guid": "4970a0bb-c995-4518-b25c-54f390063e1a",
                            "app": {
                                "guid": "188569c2-8a80-4eb2-a80b-4aa58dd40c7b",
                                "process": {
                                    "type": "web"
                                }
                            },
                            "weight": null,
                            "port": 8080,
                            "protocol": "http1",
                            "created_at": "2026-06-25T20:14:27Z",
                            "updated_at": "2026-06-25T20:14:27Z"
                        }
                    ],
                    "metadata": {
                        "labels": {},
                        "annotations": {}
                    },
                    "relationships": {
                        "space": {
                            "data": {
                                "guid": "0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                            }
                        },
                        "domain": {
                            "data": {
                                "guid": "0b70681b-92f3-4d63-8744-26fdee5d8aec"
                            }
                        }
                    },
                    "links": {
                        "self": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/routes/61cc8c7a-b997-41f1-91b3-f4de64127eb0"
                        },
                        "space": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/spaces/0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                        },
                        "destinations": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/routes/61cc8c7a-b997-41f1-91b3-f4de64127eb0/destinations"
                        },
                        "domain": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/domains/0b70681b-92f3-4d63-8744-26fdee5d8aec"
                        }
                    },
                    "options": {}
                },
                {
                    "guid": "5ec1a703-2c67-445d-bf08-fbaa9461cd44",
                    "created_at": "2024-04-19T09:24:37Z",
                    "updated_at": "2024-04-19T09:24:37Z",
                    "protocol": "http",
                    "host": "*",
                    "path": "",
                    "port": null,
                    "url": "*.dev.eu10-canary.afc.cloud.sap",
                    "destinations": [
                        {
          [...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings?app_guids=188569c2-8a80-4eb2-a80b-4aa58dd40c7b&include=service_instance",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 13,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=188569c2-8a80-4eb2-a80b-4aa58dd40c7b&include=service_instance&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=188569c2-8a80-4eb2-a80b-4aa58dd40c7b&include=service_instance&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "0e60897d-1897-4b3d-993e-981230846ae7",
                    "created_at": "2026-06-25T20:03:03Z",
                    "updated_at": "2026-06-25T20:03:03Z",
                    "name": null,
                    "type": "app",
                    "last_operation": {
                        "state": "succeeded",
                        "description": null,
                        "type": "create",
                        "updated_at": "2026-06-25T20:03:03Z",
                        "created_at": "2026-06-25T20:03:03Z"
                    },
                    "metadata": {
                        "labels": {},
                        "annotations": {}
                    },
                    "relationships": {
                        "service_instance": {
                            "data": {
                                "guid": "44cd8c4e-b1f3-4e69-a4fb-79e95570c017"
                            }
                        },
                        "app": {
                            "data": {
                                "guid": "188569c2-8a80-4eb2-a80b-4aa58dd40c7b"
                            }
                        }
                    },
                    "links": {
                        "self": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings/0e60897d-1897-4b3d-993e-981230846ae7"
                        },
                        "details": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings/0e60897d-1897-4b3d-993e-981230846ae7/details"
                        },
                        "service_instance": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/service_instances/44cd8c4e-b1f3-4e69-a4fb-79e95570c017"
                        },
                        "app": {
                            "href": "https://api.cf.sap.hana.ondemand.com/v3/app[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/51450433-74cf-4c04-8976-af3f1a1fb78f/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "instanceName": "afc-redis",
                "sessionSecret": "cf-credentials-credentials-sessionSecret",
                "storageType": "redis"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462760",
            "x-vcap-request-id",
            "35e4d055-e5b4-40bb-6e59-545fee17dd37::674bc74f-e8c6-45dc-9e2b-9e60a2f4084e"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/4588eda4-1689-474c-982c-1acb5a6d9848/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "password": "cf-credentials-credentials-password",
                "hostname": "clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com",
                "port": 3991,
                "uri": "rediss://:cf-credentials-credentials-uri-password@clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com:3991",
                "cluster_mode": true,
                "urls": {
                    "api_server": "https://api-backing-services.eu10-canary.data.services.cloud.sap"
                },
                "tls": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462761",
            "x-vcap-request-id",
            "54128fb1-e3bf-4e04-692b-67214f43e8c4::cb74c5eb-e029-43c2-94cd-cd1fb1d1dcb1"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/c5ef7707-1c62-4067-be85-e753068cb750/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "apitoken": "cf-credentials-credentials-apitoken",
                "apiurl": "https://canary.eu10.apm.services.cloud.sap/e/99479865-a86b-4792-a740-fc62388b3496/api",
                "environmentid": "99479865-a86b-4792-a740-fc62388b3496",
                "ingest_apitoken": "cf-credentials-credentials-ingest_apitoken",
                "skiperrors": "true",
                "token_expiry": "cf-credentials-credentials-token_expiry"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462760",
            "x-vcap-request-id",
            "3059e332-929f-48d9-5f9c-3ef6e9bd0c94::6cfc230c-cd33-471c-9b46-1e2b24a2211d"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/b92c0eb7-3724-403e-8a8b-10ebd9080e06/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {},
            "syslog_drain_url": "https://cf-credentials-syslog_drain_url-username:cf-credentials-syslog_drain_url-password@ingest-sf-068034bc-13cf-4be3-9589-3a751c760bea.cls-01.cloud.logs.services.sap.hana.ondemand.com/cfsyslog"
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462761",
            "x-vcap-request-id",
            "e385b3fb-bb2e-4a0a-63ae-c8e666b4e2ec::7d43e3c4-b5f3-46e2-b3e6-79643ce43be3"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/c01f9888-c3bb-4d31-a652-c31f9f752898/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://html5-apps-repo-rt.cfapps.sap.hana.ondemand.com/",
                "bindable": true,
                "metadata": {
                    "supportsInstanceSharing": true
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname": "4457fe63-ba67-42be-80c6-ce16066c80ca!b5874|html5-apps-repo-uaa!b1129",
                    "certificate": "cf-credentials-credentials-uaa-certificate",
                    "serviceInstanceId": "4457fe63-ba67-42be-80c6-ce16066c80ca",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "certificate-pinning": true,
                    "key": "cf-credentials-credentials-uaa-key"
                },
                "grant_type": "client_credentials",
                "sap.cloud.service": "html5-apps-repo-rt",
                "saasregistryenabled": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462760",
            "x-vcap-request-id",
            "4e4b0d3f-1ff2-463e-589d-771af4cece87::a81182c0-b293-4cd3-ab5f-c1c2c3e4db9e"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/0e60897d-1897-4b3d-993e-981230846ae7/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "credentials_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/api",
                    "notifications_mtls_url": "https://clm-sl-ans-canary-ans-service-api.mesh.cf.sap.hana.ondemand.com/",
                    "notifications_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/",
                    "websockets_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/"
                },
                "grant_type": "user_token",
                "saasregistryenabled": true,
                "sap.cloud.service": "alert-notification",
                "uaa": {
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "clientsecret": "cf-credentials-credentials-uaa-clientsecret",
                    "credential-type": "binding-secret",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "serviceInstanceId": "e9f2bb15-1b46-4ea6-8530-a89508081ec4",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantmode": "shared",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "xsappname": "e9f2bb15-1b46-4ea6-8530-a89508081ec4!b5874|ans-business!b2187",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462761",
            "x-vcap-request-id",
            "6854ecb7-3001-4d11-73af-0b46d2f44505::39f051e3-aae9-4722-a119-2075fb309087"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/4538d190-0d9b-411e-9916-374fc7dae495/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "portal-service": "https://portal-service.cfapps.sap.hana.ondemand.com",
                    "token-service": "cf-credentials-credentials-endpoints-token-service"
                },
                "sap.cloud.service": "com.sap.ui.portal",
                "sap.cloud.service.alias": "cp",
                "saasregistryenabled": true,
                "html5-apps-repo": {
                    "app_host_id": "85cd3f98-4345-42bd-b425-364c144d0e0e,570d7b41-113a-469b-ae5f-7ba55967aed4,c693e508-f8d5-4a70-be60-cb6106d0b60e,77d1971b-3fdc-45e0-8da3-f7b719dfff86"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
              [...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/93a2e4ea-1c85-4a8d-8ed5-3ceedd2213e8/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "LPSCallbackDependencyName": "businesslogging-sb-prod",
                "configUrl": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/",
                "configurationPath": "buslogs/configs",
                "content_endpoint": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/content",
                "endpoints": {
                    "configservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs",
                    "readservice": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                    "readservicev4": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                    "textresourceservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs/textresource",
                    "writeservice": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/buslogs/log"
                },
                "host": "cf-credentials-credentials-host",
                "readLogPath": "/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                "readLogPathv4": "/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                "readUrl": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/",
                "saasregistryappname": "businesslogging-sb-prod",
                "saasregistryenabled": true,
                "sap.cloud.service": "com.sap.bs.businesslogging",
                "vendor": "SAP",
                "writeLogPath": "buslogs/log",
                "writeUrl": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/",
                "html5-apps-repo": {
                    "app_host_id": "99fe3965-708a-43bf-9fdf-33206e55010c"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credenti[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/10463842-23c8-44cc-8600-e4146638447d/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "uri": "https://theming-runtime.cfapps.sap.hana.ondemand.com/",
                "endpoints": {
                    "runtime": "https://theming-runtime.cfapps.sap.hana.ondemand.com",
                    "repository": "https://theming-repository.cfapps.sap.hana.ondemand.com"
                },
                "sap.cloud.service": "com.sap.ui.theming",
                "saasregistryappname": "theming",
                "html5-apps-repo": {
                    "app_host_id": "251a90ce-8798-4191-9828-4d4ac97e4ea9"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                  [...]
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/d2e7b5ae-66be-407a-91c6-5d058f91264f/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "vendor": "SAP",
                "sap.cloud.service": "com.sap.ui.flex.cf.keyuser",
                "sap.cloud.service.alias": "flexkeyuser",
                "endpoints": {
                    "keyuser": "cf-credentials-credentials-endpoints-keyuser"
                },
                "saasregistryenabled": true,
                "grant_type": "user_token",
                "url": "https://ui5-flexibility-keyuser.cfapps.sap.hana.ondemand.com/",
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
               [...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/29b32515-589a-4e11-b58e-6d28dc36cc20/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "btp-tenant-api": "https://api.authentication.sap.hana.ondemand.com",
                "app_tid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "X509_GENERATED",
                "certificate": "cf-credentials-credentials-certificate",
                "domains": [
                    "accounts400.ondemand.com",
                    "accounts400.cloud.sap"
                ],
                "end_session_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/logout",
                "url": "https://awdsp8ef4.accounts400.ondemand.com/",
                "authorization_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/authorize",
                "certificate_expires_at": "2026-09-23T20:03:21Z",
                "domain": "accounts400.ondemand.com",
                "key": "cf-credentials-credentials-key"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782462761",
            "x-vcap-request-id",
            "8f6fa184-5b0e-4889-79ae-cf380b3b22cd::26087b34-db48-484f-94f3-0faa62d2c4c4"
        ],
        "responseIsBinary": false
    }
]