[
    {
        "$nockRef": "cf-apps-list",
        "count": 1,
        "repetition": 1
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 2,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/routes?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=domain&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "819b3465-aa66-4ade-b29e-35530951b66e",
                    "host": "skyfin-dev-afc-backend",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064"
                            }
                        }
                    }
                },
                {
                    "guid": "91d1705b-ce16-47e9-b556-bf7abc554f09",
                    "host": "skyfin-dev-afc-backend",
                    "relationships": {
                        "domain": {
                            "data": {
                                "guid": "3352296c-1b56-4b87-869f-cf310a917d14"
                            }
                        }
                    }
                }
            ],
            "included": {
                "domains": [
                    {
                        "guid": "9aa474f9-3f82-4967-a2e1-dfe0cd155064",
                        "name": "cfapps.sap.hana.ondemand.com"
                    },
                    {
                        "guid": "3352296c-1b56-4b87-869f-cf310a917d14",
                        "name": "mesh.cf.sap.hana.ondemand.com"
                    }
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466360",
            "x-vcap-request-id",
            "4c51dbcc-4838-4d98-5b81-71b1def36b52::4d50b8d5-d5ca-47bc-848b-05f8d89fb40e"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 1,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes?page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps/f84d681e-7123-442f-b8ea-2c747c11e145/processes?page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "instances": 2
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466360",
            "x-vcap-request-id",
            "8aca5f61-a938-4c20-6d47-39ce56a2fcda::240dd991-bbc6-4038-aefb-2b28b9a84c0c"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 17,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance&page=1&per_page=50"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/service_credential_bindings?app_guids=f84d681e-7123-442f-b8ea-2c747c11e145&include=service_instance&page=1&per_page=50"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "e9dd8657-cd50-4399-b620-cbb1fe40d606",
                    "created_at": "2025-06-24T19:49:01Z",
                    "updated_at": "2025-06-24T19:49:03Z",
                    "relationships": {
                        "service_instance": {
                            "data": {
                                "guid": "015ba89e-44e6-4316-a250-9ccbf2d9267e"
                            }
                        }
                    }
                },
                {
                    "guid": "38494c17-f237-4867-9260-5fba6f61e4d2",
                    "created_at": "2026-06-25T20:03:04Z",
                    "updated_at": "2026-06-25T20:03:04Z",
                    "relationships": {
                        "service_instance"[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/38494c17-f237-4867-9260-5fba6f61e4d2/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {},
            "syslog_drain_url": "https://cf-credentials-syslog_drain_url-username:cf-credentials-syslog_drain_url-password@ingest-sf-068034bc-13cf-4be3-9589-3a751c760bea.cls-01.cloud.logs.services.sap.hana.ondemand.com/cfsyslog"
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "282cfb47-6e53-42c9-6ee7-ebe933a39442::d96ea3f7-808f-44a7-8a3a-c6a9e5ae7e94"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/4cb9471d-a885-4f63-9de2-9ad724b6abcb/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "pass": "cf-credentials-credentials-pass",
                "user": "cf-credentials-credentials-user"
            },
            "syslog_drain_url": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466360",
            "x-vcap-request-id",
            "fb0051dd-f5dd-4962-7750-7539527f75a1::a5a28c71-60d5-467c-9dd4-381e1a9787fa"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/e9dd8657-cd50-4399-b620-cbb1fe40d606/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "custom_metrics": {
                    "mtls_url": "https://autoscaler-metrics-mtls.cf.sap.hana.ondemand.com/"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "f6620127-66cf-4573-42f7-9726d5c72193::95852374-5c64-4700-8b12-fa422910c5b7"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/99028c4d-64d0-4536-a045-efdbd7087d45/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "serviceurls": {
                    "AI_API_URL": "https://api.ai.internalprod.eu-central-1.aws.ml.hana.ondemand.com/"
                },
                "appname": "cff72d89-f0b9-4c3d-b1e4-6e26bc874eaf!b5874|xsuaa_std!b77089",
                "clientid": "cf-credentials-credentials-clientid",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "identityzone": "skyfin",
                "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "credential-type": "binding-secret",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ]
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "a804883b-fa3c-40d7-4257-634bb34c5ffb::6f0bcd26-e611-4d63-8273-fcc4317fca93"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/82912f5e-cd33-495d-b814-f390e0b91d54/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "endpoints": {
                    "credentials_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/api",
                    "notifications_mtls_url": "https://clm-sl-ans-canary-ans-service-api.mesh.cf.sap.hana.ondemand.com/",
                    "notifications_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/",
                    "websockets_url": "https://clm-sl-ans-canary-ans-service-api.cfapps.sap.hana.ondemand.com/"
                },
                "grant_type": "user_token",
                "saasregistryenabled": true,
                "sap.cloud.service": "alert-notification",
                "uaa": {
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "clientsecret": "cf-credentials-credentials-uaa-clientsecret",
                    "credential-type": "binding-secret",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "serviceInstanceId": "e9f2bb15-1b46-4ea6-8530-a89508081ec4",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantmode": "shared",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "xsappname": "e9f2bb15-1b46-4ea6-8530-a89508081ec4!b5874|ans-business!b2187",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
                }
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "0fe1aa82-507e-4d30-4445-5f7f6ceb20c4::0923c23f-b145-4463-9f0e-bfe9a68f35f6"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/12dc772c-1d94-4e6b-bddb-f7d205ef1f8d/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "LPSCallbackDependencyName": "businesslogging-sb-prod",
                "configUrl": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/",
                "configurationPath": "buslogs/configs",
                "content_endpoint": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/content",
                "endpoints": {
                    "configservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs",
                    "readservice": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                    "readservicev4": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                    "textresourceservice": "https://buslog-prod-business-logging-core-service-appconfig.cfapps.sap.hana.ondemand.com/buslogs/configs/textresource",
                    "writeservice": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/buslogs/log"
                },
                "host": "cf-credentials-credentials-host",
                "readLogPath": "/odata/v2/com.sap.bs.businesslogging.DisplayMessage",
                "readLogPathv4": "/odata/v4/com.sap.bs.businesslogging.DisplayMessage",
                "readUrl": "https://buslog-prod-business-logging-odata-service.cfapps.sap.hana.ondemand.com/",
                "saasregistryappname": "businesslogging-sb-prod",
                "saasregistryenabled": true,
                "sap.cloud.service": "com.sap.bs.businesslogging",
                "vendor": "SAP",
                "writeLogPath": "buslogs/log",
                "writeUrl": "https://buslog-prod-business-logging-write-service.cfapps.sap.hana.ondemand.com/",
                "html5-apps-repo": {
                    "app_host_id": "99fe3965-708a-43bf-9fdf-33206e55010c"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "credential-type": "x509",
                    "clientx509enabled": false,
                    "xsappname": "afc-dev!b5874|businesslogging-sb-prod!b3598",
                    "certificate": "cf-credentials-credentials-uaa-certificate",
                    "serviceInstanceId": "3c6e7048-f419-45ab-861b-1d500ed9a872",
                    "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                    "uaadomain": "authentication.sap.hana.ondemand.com",
                    "verificationkey": "cf-credentials-credentials-uaa-verificationkey",
                    "apiurl": "https://api.authentication.sap.hana.ondemand.com/",
                    "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                    "identityzone": "skyfin",
                    "identityzoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "zoneid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "certificate-pinning": true,
                    "key": "cf-credentials-credentials-uaa-key"
                },
                "instanceId": "3c6e7048-f419-45ab-861b-1d500ed9a872"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466360",
            "x-vcap-request-id",
            "3e687747-ca8e-4e3b-642d-5fe227374a8e::b97c1fdc-8c26-432b-ab1c-e79a2d5d3ef2"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/578d0ac4-7fdf-42c4-b470-3f87a49c6f4b/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "apitoken": "cf-credentials-credentials-apitoken",
                "apiurl": "https://canary.eu10.apm.services.cloud.sap/e/99479865-a86b-4792-a740-fc62388b3496/api",
                "environmentid": "99479865-a86b-4792-a740-fc62388b3496",
                "ingest_apitoken": "cf-credentials-credentials-ingest_apitoken",
                "skiperrors": "true",
                "token_expiry": "cf-credentials-credentials-token_expiry"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "6755af52-3fba-4578-44d8-757597cd385c::fccf3538-bdee-4543-92ff-a1a5aa4fe7b0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/df5f18f9-e694-418b-875a-47d5b998e0a1/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "sm_url": "https://service-manager.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "certurl": "https://skyfin.authentication.cert.sap.hana.ondemand.com/",
                "clientid": "cf-credentials-credentials-clientid",
                "xsappname": "51ddd18b-5a78-418e-8f41-9a4c518650ec!b5874|service-manager!b4065",
                "certificate": "cf-credentials-credentials-certificate",
                "key": "cf-credentials-credentials-key",
                "uaadomain": "authentication.sap.hana.ondemand.com"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "05e56cf4-4b98-4735-604e-b95c6262a20a::5fbfc289-9c62-4838-a99c-ef8fd43703a2"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/fa543457-3962-488c-90a4-b7a99474b499/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "certificateservice": {
                    "profileurl": "https://certificate-service.cf.sap.hana.ondemand.com/certservice/v2/enroll/standard",
                    "apiurl": "https://certificate-service.cf.sap.hana.ondemand.com/",
                    "subjectpattern": "C=DE, O=SAP SE, OU=SAP Cloud Platform Clients, OU=Canary, OU=7b20408e-3fe0-4ade-aa2e-ad97baac72e8, L=%s, CN=%s",
                    "policy": "sap-cloud-platform-clients"
                },
                "uaa": {
                    "tenantmode": "dedicated",
                    "sburl": "https://internal-xsuaa.authentication.sap.hana.ondemand.com/",
                    "subaccountid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                    "credential-type": "binding-secret",
                    "clientid": "cf-credentials-credentials-uaa-clientid",
                    "xsappname": "bc85eb47-2b47-4544-b1de-821d11137d24!b5874|c[...]
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/af9d6a3c-fa3f-44fd-8cc6-aaab75097297/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "binding-secret",
                "xsappname": "clone05ed02605f01499ab0772a3cafc5eac3!b5874|destination-xsappname!b433",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "uri": "https://destination-configuration.cfapps.sap.hana.ondemand.com/",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "instanceid": "05ed0260-5f01-499a-b077-2a3cafc5eac3",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466360",
            "x-vcap-request-id",
            "8d755be0-d363-49a5-6ba5-dba9b43fd6cf::360d59fe-46f6-4f2d-988e-6ec1f6a94591"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/920bf04a-aa73-4878-a608-84d0bb353a9f/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "tenantmode": "dedicated",
                "token-type": [
                    "cf-credentials-credentials-token-type-0"
                ],
                "clientid": "cf-credentials-credentials-clientid",
                "token_service_domain": "cf-credentials-credentials-token_service_domain",
                "credential-type": "binding-secret",
                "token_service_url": "cf-credentials-credentials-token_service_url",
                "xsappname": "clone43c89feaa7e14781a446eca57e3748b5!b5874|connectivity!b137",
                "onpremise_proxy_ldap_port": "20001",
                "onpremise_socks5_proxy_port": "20004",
                "clientsecret": "cf-credentials-credentials-clientsecret",
                "onpremise_proxy_http_port": "20003",
                "url": "https://skyfin.authentication.sap.hana.ondemand.com/",
                "onpremise_proxy_host": "connectivityproxy.internal.cf.sap.hana.ondemand.com",
                "uaadomain": "authentication.sap.hana.ondemand.com",
                "onpremise_proxy_port": "20003",
                "verificationkey": "cf-credentials-credentials-verificationkey",
                "identityzone": "skyfin",
                "tenantid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "onpremise_proxy_rfc_port": "20001",
                "region_configuration_id": "cf-eu10-canary"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "8542ae2a-7b50-46ed-5fee-7f6b68c17717::ea65592f-7d98-4194-8159-eb19ee4c282e"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/d9c30853-b03d-4073-a971-8f8a2a724a1b/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "password": "cf-credentials-credentials-password",
                "hostname": "clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com",
                "port": 3991,
                "uri": "rediss://:cf-credentials-credentials-uri-password@clustercfg.rg-0c94f0c1-db0a-495d-b385-4a44a87fc398.vwvwdz.euc1.cache.amazonaws.com:3991",
                "cluster_mode": true,
                "urls": {
                    "api_server": "https://api-backing-services.eu10-canary.data.services.cloud.sap"
                },
                "tls": true
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "30622ffe-6559-4959-4917-09e97f8ef798::a16dec22-07db-406e-9bcf-ac701fecf7f3"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/cceb4160-e9ee-48ad-baf8-9cf5b5c9668d/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "btp-tenant-api": "https://api.authentication.sap.hana.ondemand.com",
                "app_tid": "7b20408e-3fe0-4ade-aa2e-ad97baac72e8",
                "clientid": "cf-credentials-credentials-clientid",
                "credential-type": "X509_GENERATED",
                "certificate": "cf-credentials-credentials-certificate",
                "domains": [
                    "accounts400.ondemand.com",
                    "accounts400.cloud.sap"
                ],
                "end_session_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/logout",
                "url": "https://awdsp8ef4.accounts400.ondemand.com/",
                "authorization_endpoint": "https://awdsp8ef4.accounts400.ondemand.com/oauth2/authorize",
                "certificate_expires_at": "2026-09-23T20:03:46Z",
                "domain": "accounts400.ondemand.com",
                "key": "cf-credentials-credentials-key"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466361",
            "x-vcap-request-id",
            "251907d0-f838-431f-470d-ce0299083d92::b9246c37-1701-44f9-9e39-4683f2f755cb"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/service_credential_bindings/f67f5555-06f8-43ce-ae5f-a1d76f5e1666/details",
        "body": "",
        "status": 200,
        "response": {
            "credentials": {
                "sync_scan_url": "https://malware-scanner.cf.sap.hana.ondemand.com/",
                "async_scan_url": "",
                "uri": "malware-scanner.cf.sap.hana.ondemand.com/",
                "url": "https://malware-scanner.cf.sap.hana.ondemand.com/",
                "username": "cf-credentials-credentials-username",
                "password": "cf-credentials-credentials-password"
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json; charset=utf-8",
            "x-ratelimit-limit",
            "20000",
            "x-ratelimit-remaining",
            "18000",
            "x-ratelimit-reset",
            "1782466360",
            "x-vcap-request-id",
            "dbbbdc62-6a2d-4265-7032-3143578263e0::1a7385af-2543-4cb1-b2bc-5d0d68f55c1f"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://skyfin.authentication.cert.sap.hana.ondemand.com:443",
        "method": "POST",
        "path": "/oauth/token",
        "status": 200,
        "response": {
            "access_token": "000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000[...]
    {
        "scope": "https://service-manager.cfapps.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v1/service_bindings?labelQuery=tenant_id+eq+%275ecc7413-2b7e-414a-9496-ad4a61f6cccf%27",
        "body": "",
        "status": 200,
        "response": {
            "items": [
                {
[...]
