[
    {
        "scope": "https://api.cf.sap.hana.ondemand.com:443",
        "method": "GET",
        "path": "/v3/apps?space_guids=0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9",
        "body": "",
        "status": 200,
        "response": {
            "pagination": {
                "total_results": 15,
                "total_pages": 1,
                "first": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps?page=1&per_page=50&space_guids=0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                },
                "last": {
                    "href": "https://api.cf.sap.hana.ondemand.com/v3/apps?page=1&per_page=50&space_guids=0215304c-3d6f-4f02-ae4f-a9bd6a9d46e9"
                },
                "next": null,
                "previous": null
            },
            "resources": [
                {
                    "guid": "f84d681e-7123-442f-b8ea-2c747c11e145",
                    "name": "afc-backend",
                    "lifecycle": {
                        "data": {
                            "buildpacks": [
                                "https://github.com/cloudfoundry/nodejs-buildpack.git#v1.8.42"
                            ]
                        }
                    }
                },
                {
                    "guid": "188569c2-8a80-4eb2-a80b-4aa58dd40c7b",
                    "name": "afc-frontend",
                    "lifecycle": {
                        "data": {
                            "buildpacks": [
                                "https://github.com/cloudfound[...]
